/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@import "./main.scss";

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/Poppins-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: bold;
    src: url("./fonts/Poppins-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: normal;
    src: url("./fonts/Poppins-Italic.ttf") format('truetype');
}

:root {
    --ion-color-primary: #43727a;
    --ion-color-primary-rgb: 67, 114, 122;

    --ion-color-tertiary: #ffffff;
    --ion-color-tertiary-rgb: 255,255,255;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0,0,0;
    --ion-color-tertiary-shade: #e0e0e0;
    --ion-color-tertiary-tint: #ffffff;
}

html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: "Poppins";
}