/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    src: url("./fonts/Poppins-Regular.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    src: url("./fonts/Poppins-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: bold;
    src: url("./fonts/Poppins-BoldItalic.ttf") format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: normal;
    src: url("./fonts/Poppins-Italic.ttf") format('truetype');
}

:root {
    --ion-color-primary: #43727a;
    --ion-color-primary-rgb: 67, 114, 122;
}

html {
    --ion-dynamic-font: var(--ion-default-dynamic-font);
    --ion-font-family: "Poppins";
}

body {
    --background: transparent !important;
}

ion-content {
    --ion-background-color: #efeee9;
    --ion-background-color-rgb: 239,238,233;
}

ion-icon.primary {
    color: var(--ion-color-primary);
}

.text-primary {
    color: var(--ion-color-primary);
}

.bg-primary {
    background-color: #43727a;
    color: white;
}

.bg-secondary {
    background-color: #fbfdfe;
}

a {
    color: var(--ion-color-primary);
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.3s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}